.mdl-layout__header-row {
  padding: 0 20px;
}

.number-input {
  width: 9px;
}

.mdl-components-dl {
  color: #777777;
}

.page-content {
  padding: 20px;
}

.mdl-layout-title {
  font-family: "Roboto";
  font-weight: 700;
  color: #ffffff;
}

body {
  background-color: #424242;
}

.page-content {
  background-color: #f7f7f7;
}

#solution {
  margin-top: 30px;
}